body {
    font-family: 'MedievalSharp', serif;
    text-align: center;
    color: #fff;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../multimedia/images/pantalla_inicio2.jpg') no-repeat center;
    background-size: cover; 
}

body.general {
    background: url('../../multimedia/images/pantalla_inicio2.jpg') no-repeat center;
    background-size: cover;
}

body.tienda {
    background: url('../../multimedia/images/tienda_background.jpg') no-repeat center;
    background-size: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

.titulo-pagina {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 2.5em;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    border-radius: 5px;
}

#lista-armas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#lista-armas div {
    margin: 10px;
}

#lista-armas img {
    display: block;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    margin: 5px;
    color: #fff;
}

input {
    background-color: rgba(0, 0, 0, 0.5); 
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

input::placeholder {
    color: #ccc; 
}